Checks: >-
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  concurrency-*,
  cppcoreguidelines-*,
  hicpp-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -hicpp-magic-numbers,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-identifier-length
WarningsAsErrors: '*'
HeaderFilterRegex: '^(crates|ui|templates|cmake)/.*'
FormatStyle: file
CheckOptions:
  - key: cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value: 'true'
