[Desktop Entry]
Type=Application
Name=Kinein Vectis
GenericName=Integrated Development Environment
Comment=IDE para C, C++, Rust, Python e sistemas embarcados
Exec=kinein-vectis %F
Icon=kinein-vectis
Terminal=false
Categories=Development;IDE;
MimeType=inode/directory;
StartupNotify=true
StartupWMClass=kinein-vectis
